<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
       <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Products</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table-bordered</code>-->
<!--                  </p>-->
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            Subject
                          </th>
                          <th>
                            Message
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{ d.Name }}</td>
                            <td>{{ d.Email }}</td>
                            <td>{{ d.Sub }}</td>
                            <td>{{ d.Msg }}</td>
                            <td>
                                <form method="post" action="{% url 'del_msg' dataid=d.id %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</body>
</body>
</html>
{% endblock %}